
frontend/\.idea/

frontend/node_modules/

frontend/\.DS_Store

frontend/package-lock\.json

frontend/yarn\.lock

\.DS_Store

microservices/\.idea/

microservices/customer-service/\.idea/

microservices/customer-service/target/

microservices/risk-managment-service/target/

*.iml
